<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<title>Crunchweb</title>
	</head>
	<body>
		<section id="main">
			<ul>	
				<h2>Here are a few easy steps for trying Crunch.</h2>
				<li>
					<div>
						<div class="bullet">1</div><h2 class="list-item-heading">Setup Crunch</h2>
						<div class="clearfix"></div>
						<p>
							You can use Python setup tools to download and install Crunch automatically. Or you can download the source and use it directly.<br><br>
							If you have pip installed you can run the following command.
						</p>
						<pre>$ pip install -e git+https://github.com/dash1291/crunch.git#egg=crunch</pre>
						<p>Alternatively, you can download the source by cloning the GitHub respository.</p>
						<pre>$ git clone https://github.com/dash1291/crunch.git</pre>
					</div>
				</li>
				<li>
					<div>
						<div class="bullet">2</div><h2 class="list-item-heading">Create an account</h2>
						<div class="clearfix"></div>
						<p>
							Register an account which you'll use to connect to the server, by clicking on the following link.
							<br><br>
							<a href="/register/">Register here</a>
						</p>
					</div>
				</li>
				<li>
					<div>
						<div class="bullet">3</div><h2 class="list-item-heading">Prepare your client</h2>
						<div class="clearfix"></div>
						<p>
							You'll need to save a tiny piece of configuration as Python code, so Crunch knows how to connect to a server.
						</p>
						{% if code %}
						<div>
							<p>Save the following code as `client.py`</p>
							<pre>{{ code }}</pre>
						</div>
						{% end %}
					</div>
				</li>
				<li>
					<div>
						<div class="bullet">4</div><h2 class="list-item-heading">Fire!</h2>
						<div class="clearfix"></div>
						<p>Run `client.py`:</p>
						<pre>$ python client.py</pre>
					</div>
				</li>
			</ul>
			<p>Now Crunch will serve your content from the current directory.</p>
			<p>Read away <a href="http://ashishdubey.info/blog/2012/11/9/crunch-in-network.html">this post</a> for more information.</p>
			<p>If you find issues (most likely many), please report them <a href="https://github.com/dash1291/crunch/issues">here</a>.</p>
			<br>
		</section>
	</body>
</html>